%h1= t('job_mailers.application_reviewing.heading')
%p= t('job_mailers.application_reviewing.greeting', recipient: @user.display_name)
%p= t('job_mailers.application_reviewing.intro', job_title: @job.title)

.div{style: 'margin: 20px 0; padding: 15px; border-left: 4px solid #2b90d9; background-color: #f9f9f9;'}
  %h3= t('job_mailers.application_reviewing.job_details')
  %p
    %strong= t('job_mailers.application_reviewing.job_title') + ':'
    = @job.title
  %p
    %strong= t('job_mailers.application_reviewing.company') + ':'
    = @job.organization.name
  %p
    %strong= t('job_mailers.application_reviewing.applied_at') + ':'
    = l(@application.created_at, format: :long)
  %p
    %strong= t('job_mailers.application_reviewing.status') + ':'
    = t("job_applications.statuses.#{@application.status}")

%p= t('job_mailers.application_reviewing.next_steps')